* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #326293, #29537d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.logo {
    display: block;
    margin-bottom: 1.5rem;
    text-align: center;
}

.logo img {
    width: 150px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.05);
}

h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.3s;
}

input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.3);
}

label {
    position: absolute;
    left: 1rem;
    top: 1.2rem;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 0.3s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -1rem;
    left: 1rem;
    font-size: 0.9rem;
    color: #ccc;
}

button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #326293;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

.options {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.options a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.options a:hover {
    color: #ddd;
}
